*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #ddd; }
  body button {
    cursor: pointer; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #fff; }
  @media only screen and (min-width: 1000px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content 1fr; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dddddd;
  padding-left: 1rem;
  border: 1px solid #bbb; }
  @media only screen and (min-width: 1000px) {
    .header {
      grid-column: 1 / -1;
      padding: 1rem; } }

.nav {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke; }
  @media only screen and (min-width: 1000px) {
    .nav {
      grid-column: 1 / 1;
      border-right: 5px solid #aaa; } }
  .nav__buttons {
    display: flex;
    width: 100%;
    max-width: 80rem; }
    @media only screen and (max-width: 1000px) {
      .nav__buttons ul {
        display: none; } }
    @media only screen and (min-width: 1000px) {
      .nav__buttons {
        flex-direction: column; }
        .nav__buttons ul li {
          display: flex;
          justify-content: center; }
          .nav__buttons ul li button {
            font-size: 1.3rem;
            font-style: italic;
            width: 100%;
            border: none;
            border-radius: 0;
            padding: 1rem 0;
            background-color: #f0f0f0;
            border: solid 1px black; }
            .nav__buttons ul li button::-moz-focus-inner {
              border: 0; }
          .nav__buttons ul li a {
            flex: 1; } }
  .nav__button {
    font-size: 1.5rem;
    flex: 1;
    padding: 0;
    border: none;
    border-radius: 0;
    padding: .5rem 0;
    background-color: #dddddd;
    border: solid 1px black; }
    .nav__button::-moz-focus-inner {
      border: 0; }
    @media only screen and (min-width: 1000px) {
      .nav__button {
        background-color: #afaeae;
        padding: 2rem 0; }
        .nav__button:not(.active) {
          background-color: #dddddd; }
        .nav__button:not(.active) + ul {
          display: none; } }

.content {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  border-bottom: solid 1px black; }
  .content .card {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid #aaa; }
    @media only screen and (min-width: 600px) {
      .content .card {
        display: flex;
        justify-content: center;
        align-items: center; }
        .content .card h3 {
          margin-right: 20rem; } }
    .content .card h3 {
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 2rem;
      font-weight: 300;
      border-bottom: solid 1px #ddd;
      padding-bottom: 1rem; }
    .content .card p {
      font-family: sans-serif;
      font-size: 1.4rem;
      color: #666;
      line-height: 2; }
      .content .card p:first-child {
        font-style: italic; }
    .content .card__customer-details {
      margin-top: .5rem; }
    .content .card:hover {
      background-color: rgba(238, 238, 238, 0.7); }
    .content .card:active {
      background-color: #eee; }
  .content a, .content a:link, .content a:visited {
    text-decoration: none;
    color: black; }
  .content .cards:not(.active) {
    display: none; }

.add_new_modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.6); }
  .add_new_modal:not(.active) {
    display: none; }
  .add_new_modal .modal_content {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    align-items: stretch;
    justify-items: center;
    padding: 15px;
    background: white;
    max-width: 400px;
    max-height: 500px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(34, 34, 34, 0.7); }
    .add_new_modal .modal_content select {
      justify-self: left; }
    .add_new_modal .modal_content .create_new {
      justify-self: right;
      margin-right: 10px;
      align-self: center; }
    .add_new_modal .modal_content .choose_customer {
      grid-column: 1 / -1; }
    .add_new_modal .modal_content input {
      width: 140%; }
    .add_new_modal .modal_content input.invalid {
      outline: solid 2px red;
      padding: intial;
      border-radius: initial; }
    .add_new_modal .modal_content button {
      justify-self: right; }
    .add_new_modal .modal_content .live_search_results {
      justify-self: left;
      grid-column: 1 / 2; }
    .add_new_modal .modal_content .live_search_results ul {
      list-style: none;
      width: 140%;
      justify-self: left;
      margin-top: -15px; }
      .add_new_modal .modal_content .live_search_results ul li {
        border: 1px solid black;
        max-width: 140%;
        padding: 10px;
        font-size: 16px; }
        .add_new_modal .modal_content .live_search_results ul li:hover {
          cursor: pointer;
          background: #eee; }
    .add_new_modal .modal_content .search:not(.active) {
      display: none; }

.footer {
  background: #fff;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  @media only screen and (min-width: 1000px) {
    .footer {
      display: none; } }
  .footer-btn {
    background-color: #ddd;
    height: 100%;
    border: solid 1px black;
    border-radius: 0;
    padding: 1rem;
    flex: 1;
    cursor: pointer; }
    .footer-btn::-moz-focus-inner {
      border: 0; }
    .footer-btn:hover {
      background-color: #ccc; }
    .footer-btn:first-child {
      margin-right: .5rem; }
