*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ddd;

    button {
        cursor: pointer;
    }
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;

    .cover {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);

        &:not(.active) {
            display: none;
        }
    }


}

.header {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(221, 221, 221);
    padding: 1rem 3rem;
    border: 1px solid #bbb;
    height: 3rem;

    @media only screen and (min-width: 1000px) {
        grid-column: 1 / -1;
        padding: 1rem 8rem;
    }

    & .delete-customer-btn {
        user-select: none;
        background-color: rgb(255, 123, 123);
        padding: .5rem 1.5rem;
        border: none;
    }

    & p {
        font-size: 14px;
        cursor: pointer;

        &.selected span {
            display: inline-block;
            transform: rotate(180deg);
        }

        &:nth-child(2) {
            margin: 0 auto;
        }

    }

    .delete-customer-prompt {
        position: absolute;
        width: auto;
        border: 1px solid black;
        top: 3rem;
        right: 1rem;
        // display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1rem;
        padding: 1.5rem;
        background-color: #eee;

        &:not(.active) {
            display: none;
        }

        p {
            padding: 0 1rem 0;
            font-family: "Merriweather Sans", sans-serif;
            font-size: 1.2rem;
            grid-column: 1 / -1;
            text-align: center;
        }

        button {
            border: 1px solid #ccc;
            padding: 1rem;
            width: 100%;
        }
    }

    .log_out {
        position: absolute;
        left: 0;
        top: 100%;
        width: 20rem;
        background-color: white;
        height: 4rem;

        &:not(.active) {
            display: none;
        }

        & button {
            width: 100%;
            height: 100%;
            border: 1px solid black;
            background-color: rgb(221, 221, 221);

            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: black;
            }
        }
    }

}


// .header {
//     display: flex;
//     justify-content: space-between;
//     flex: 0 0 3rem;
//     align-items: center;
//     padding-left: 3rem;
//     border-bottom: solid 1px black;
//     background-color: rgb(221,221,221);

//     @media only screen and (min-width: 1600px) {
//         padding: .5rem 10rem;
//         flex: 0 0 6rem;
//     }

//     .back-btn {
//         display: none;

//         @media only screen and (min-width: 1000px) {
//             display: inline-block;
//         }
//     }

//     h1 {
//         font-family: "Merriweather Sans", sans-serif;
//         text-transform: uppercase;
//         font-style: italic;
//         font-weight: 200;
//         font-size: 1.4rem;
//         color: rgba(#000, .8);

//         @media only screen and (min-width: 1600px) {
//             font-size: 2rem;
//             margin-left: 10rem;
//         }
//     }

//     .delete-customer-btn {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding-top: .3rem;
//         border: solid 1px #ccc;
//         height: 100%;
//         width: 6rem;
//         background-color: rgba(255, 8, 0, 0.384);
//         font-style: italic;
//         font-family: sans-serif;
//     }

//     .delete-customer-prompt {
//         // display: auto;
//         position: absolute;
//         width: auto;
//         border: 1px solid black;
//         top: 3rem;
//         right: 3px;
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-row-gap: 1rem;
//         padding: 1.5rem 0 0;
//         background-color: #eee;
//         padding-bottom: 0;

//         @media only screen and (min-width: 1600px) {
//             top: 6rem;
//             width: 20%;
//         }


//         p {
//             padding: 0 1rem 0;
//             font-family: "Merriweather Sans", sans-serif;
//             font-size: 1.2rem;
//             grid-column: 1 / -1;
//             text-align: center;
//         }

//         button {
//             border: 1px solid #ccc;
//             padding: 1rem;
//             width: 100%;
//         }
//     }
// }

.main {
    flex: 1;
    padding: 4rem 1rem;

    @media only screen and (min-width: 700px) {
        padding: 4rem 4rem;
    }

    .edit-customer-form {
        display: grid;
        align-items: center;
        grid-template-columns: 30% 70%;
        grid-row-gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;

        @media only screen and (min-width: 1000px) {
            label {
                justify-self: center;
            }

            input {
                width: 80%;
            }
        }

        label {
            font-family: "Merriweather Sans", sans-serif;
            font-size: 1.4rem;
        }

        input {
            height: 1.5rem;
            padding: 1rem;
        }

        .edit-customer-buttons {
            margin-top: 3rem;
            width: 60%;
            justify-self: center;
            display: flex;
            grid-column: 1 / -1;
            justify-content: center;

            @media only screen and (min-width: 700px) {
                width: 40%;
            }

            button {
                font-family: "Merriweather Sans", sans-serif;
                text-transform: uppercase;
                flex: 1;
                border-radius: 0%;
                padding: .8rem .5rem;
                // border: solid 1px #ccc;
            }
            .edit-customer-del {
                margin-right: 1rem;
                background-color: rgba(253, 228, 228, .8);
            }

            .edit-customer-save {
                background-color: rgba(3, 105, 3, 0.103);
            }

        }
    }
}

.footer {
    justify-self: flex-end;

    background: #fff;
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        &-btn {
            background-color: #ddd;
            height: 100%;
            border: solid 1px black;
            border-radius: 0;
            padding: .8rem;
            flex: 1;
            cursor: pointer;

            &::-moz-focus-inner {
                border: 0;
            }

            &:hover {
                background-color: #ccc;
            }

            @media only screen and (min-width: 1000px) {
                display: none;
            }
        }
}