.modal-container{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.4);
}

.modal-content {
	background: white;
	margin: 20% auto;
	padding: 30px;
	border: 1px solid black;
	width: 80%;
}

#toggled-content > div {
	position: absolute;
	top: 10%;
	left: 30%;
}

.tab-card {
	font-family: 'PT Serif', serif;
	background: #def1fc;
	top: 15px;
	position: relative;
	display: inline-flex;
	padding: 10px;
	align-content: center;
	overflow: auto;
}

.tab-card > div {
	display: inline;
	text-align: center;
	align-self: center;
}

.tab-card div#name {
	height: 100%;
	overflow: auto;
	font-size: 1.8em;
}

.tab-card div#phone {
	color: #666666;
}

.tab-card div#email {
	font-style: italic;
	text-decoration: underline;

	color: #666666;
}

.tab-card div#address {

	color: #666666;	
}

.gradient {
	position: absolute;
	top: 10%;
	left: 30%;
	width: 30%;
	height: 30%;
	background-image: linear-gradient(to bottom left, white, indigo, black, purple, black, indigo, white);
}
