*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #ddd; }
  body button {
    cursor: pointer; }

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #fff; }
  .container .cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    .container .cover:not(.active) {
      display: none; }

.header {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  background-color: #dddddd;
  padding: 1rem 3rem;
  border: 1px solid #bbb;
  height: 3rem; }
  @media only screen and (min-width: 1000px) {
    .header {
      grid-column: 1 / -1;
      padding: 1rem 8rem; } }
  .header .delete-customer-btn {
    user-select: none;
    background-color: #ff7b7b;
    padding: .5rem 1.5rem;
    border: none; }
  .header p {
    font-size: 14px;
    cursor: pointer; }
    .header p.selected span {
      display: inline-block;
      transform: rotate(180deg); }
    .header p:nth-child(2) {
      margin: 0 auto; }
  .header .delete-customer-prompt {
    position: absolute;
    width: auto;
    border: 1px solid black;
    top: 3rem;
    right: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    padding: 1.5rem;
    background-color: #eee; }
    .header .delete-customer-prompt:not(.active) {
      display: none; }
    .header .delete-customer-prompt p {
      padding: 0 1rem 0;
      font-family: "Merriweather Sans", sans-serif;
      font-size: 1.2rem;
      grid-column: 1 / -1;
      text-align: center; }
    .header .delete-customer-prompt button {
      border: 1px solid #ccc;
      padding: 1rem;
      width: 100%; }
  .header .log_out {
    position: absolute;
    left: 0;
    top: 100%;
    width: 20rem;
    background-color: white;
    height: 4rem; }
    .header .log_out:not(.active) {
      display: none; }
    .header .log_out button {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      background-color: #dddddd; }
      .header .log_out button a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black; }

.main {
  flex: 1;
  padding: 4rem 1rem; }
  @media only screen and (min-width: 700px) {
    .main {
      padding: 4rem 4rem; } }
  .main .edit-customer-form {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    grid-row-gap: 2rem;
    max-width: 1200px;
    margin: 0 auto; }
    @media only screen and (min-width: 1000px) {
      .main .edit-customer-form label {
        justify-self: center; }
      .main .edit-customer-form input {
        width: 80%; } }
    .main .edit-customer-form label {
      font-family: "Merriweather Sans", sans-serif;
      font-size: 1.4rem; }
    .main .edit-customer-form input {
      height: 1.5rem;
      padding: 1rem; }
    .main .edit-customer-form .edit-customer-buttons {
      margin-top: 3rem;
      width: 60%;
      justify-self: center;
      display: flex;
      grid-column: 1 / -1;
      justify-content: center; }
      @media only screen and (min-width: 700px) {
        .main .edit-customer-form .edit-customer-buttons {
          width: 40%; } }
      .main .edit-customer-form .edit-customer-buttons button {
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
        flex: 1;
        border-radius: 0%;
        padding: .8rem .5rem; }
      .main .edit-customer-form .edit-customer-buttons .edit-customer-del {
        margin-right: 1rem;
        background-color: rgba(253, 228, 228, 0.8); }
      .main .edit-customer-form .edit-customer-buttons .edit-customer-save {
        background-color: rgba(3, 105, 3, 0.103); }

.footer {
  justify-self: flex-end;
  background: #fff;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .footer-btn {
    background-color: #ddd;
    height: 100%;
    border: solid 1px black;
    border-radius: 0;
    padding: .8rem;
    flex: 1;
    cursor: pointer; }
    .footer-btn::-moz-focus-inner {
      border: 0; }
    .footer-btn:hover {
      background-color: #ccc; }
    @media only screen and (min-width: 1000px) {
      .footer-btn {
        display: none; } }
