<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/main/allCustomers/style.css' %}" />
  {% load static %}
  <script type="text/javascript" src="{% static '/main/allCustomers/script.js' %}"></script>

  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="container">
    <div class="cover"></div>
    <header class="header">
      <p>{{ user }} <span>&dtrif;</span></p>
      <p>All Customers...</p>
      <p>COMPANY NAME</p>
      <div class="log_out">
        <button><a href="/logout">Log out</a></button>
      </div>
    </header>
    <main class="content">
      <div class="search_bar">
        <input id="search" type="search" placeholder="Search...">
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th width="15%">First Name <span> &utrif;</span></th>
            <th>Last Name <span> &utrif;</span></th>
            <th>Date Added <span> &utrif;</span></th>
            <th>Last Active <span> &utrif;</span></th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.add_date }}</td>
            <td>{{ customer.last_modified }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <footer class="footer">
      <button class="footer-btn">See all</button>
      <button class="footer-btn add_new">Add new</button>
    </footer>
  </div>
</body>
</html>