<!DOCTYPE html>
<html>
    <head>
        <style>
            .current-row textarea {
                border: solid 1px red;
                }
        </style>
        {% load static %}
        <script type="text/javascript" src="{% static 'main/editInvoice.js' %}"></script>
        <script type="text/javascript">
            var invoice_id = {{ invoice.id }};
        </script>
    </head>
    <body>
        <h1>Invoice for {{ invoice.customer.name }}</h1>
        <table id="invoice-tasks">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>Price</span></th>
                    <th><span>Quantity</span></th>
                    <th><span>Total</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="current-row">
                    <td><textarea style="resize: none;"></textarea></td>
                    <td><textarea></textarea></td>
                    <td><textarea></textarea></td>
                    <td><textarea></textarea></td>
                    <td><textarea readonly=true></textarea></td>
                </tr>
            </tbody>
        </table>
        <button id="add-row">+</button>
        <button id="save-invoice">Save invoice</button>
        <h2>Total: <span id="total"></span></h2>
    </body>
</html>