<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static '/main/log_in/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Log in to continue</h1>
    <div class="login_parent">
      <form action="/auth" method="POST">{% csrf_token %}
        <input type="radio" name="action_choice" class="select log_in" 
               value="login" id="select_login" checked>
        <label for="select_login" class="login_label">Log In</label>

        <input type="radio" name="action_choice" class="select signup" value="signup" id="select_signup">
        <label for="select_signup" class="login_label">Create User</label>

        <label for="username" class="username_label">Username: </label>
        <input id="username" name="username" class="username_input" type="text" required>

        <label for="password" class="password_label">Password: </label>
        <input id="password" name="password" class="password_input" type="password" required>
        <p>For demonstration purposes only. Please use a throwaway password.</p>
        <button>Submit</button>
      </form>
    </div>
  </div>
</body>
</html>