<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'showInvoice/style.css' %}">
  {% load static %}
  <script type="text/javascript" src="{% static 'main/showInvoice/script.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>Invoice #1234</h1>
      <button>UPDATE</button>
      <button>EDIT</button>
    </header>
    <main class="content">
      <div class="content__invoice-details">
        <p>Customer: </p><a href="/customers/{{invoice.customer.id}}">{{invoice.customer.name}}</a>
        <p>Job: </p>
        {% if invoice.job %}
          <a href="/jobs/{{invoice.job.id}}">{{invoice.job.id}}</a>
        {% else %}
          <p>N/A</p>
        {% endif %}
        <p>Date: </p><p>1/1/19</p>
        <p>Status: </p><p>PAYMENT DUE</p>
      </div>
      <div class="content__tasks">
        <div class="content__tasks-header">
          <div class="content__tasks-header-num">#</div>
          <div class="content__tasks-header-name">NAME</div>
          <div class="content__tasks-header-qty">QTY</div>
          <div class="content__tasks-header-price">PRICE</div>
          <div class="content__tasks-header-subtotal">SUBTOTAL</div>
        </div>
        <ul class="content__tasks-list">

          {% for task in tasks %}
          <li class="content__task selected">
            <div class="flex-wrap">
              <div class="content__task-num">1</div>
              <div class="content__task-name">{{task.name}}</div>
              <div class="content__task-qty">{{task.quantity}}</div>
              <div class="content__task-price">${{task.price}}</div>
              <div class="content__task-subtotal">${{task.total}}</div>
            </div>
            <div class="content__task-desc">
              <p>{{task.description}}</p>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div>
      <div class="total">
        <p>Total: </p>
        <p>$1000</p>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__total">
        <p>Total: </p>
        <p>$1000</p>
      </div>
      <div class="footer__btns">
        <button class="footer__button">Go back</button>
        <button class="footer__button">Update Invoice</button>
      </div>
    </footer>
  </div>
</body>
</html>