*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 3rem;
  align-items: center;
  padding-left: 3rem;
  border-bottom: solid 1px black;
  background-color: #dddddd; }
  @media only screen and (min-width: 1600px) {
    .header {
      padding: .5rem 10rem;
      flex: 0 0 6rem; } }
  .header .back-btn {
    display: none; }
    @media only screen and (min-width: 1000px) {
      .header .back-btn {
        display: inline-block; } }
  .header h1 {
    font-family: "Merriweather Sans", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 200;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8); }
    @media only screen and (min-width: 1600px) {
      .header h1 {
        font-size: 2rem;
        margin-left: 10rem; } }
  .header .delete-customer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3rem;
    border: solid 1px #ccc;
    height: 100%;
    width: 6rem;
    background-color: rgba(255, 8, 0, 0.384);
    font-style: italic;
    font-family: sans-serif; }
  .header .delete-customer-prompt {
    position: absolute;
    width: auto;
    border: 1px solid black;
    top: 3rem;
    right: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    padding: 1.5rem 0 0;
    background-color: #eee;
    padding-bottom: 0; }
    @media only screen and (min-width: 1600px) {
      .header .delete-customer-prompt {
        top: 6rem;
        width: 20%; } }
    .header .delete-customer-prompt p {
      padding: 0 1rem 0;
      font-family: "Merriweather Sans", sans-serif;
      font-size: 1.2rem;
      grid-column: 1 / -1;
      text-align: center; }
    .header .delete-customer-prompt button {
      border: 1px solid #ccc;
      padding: 1rem;
      width: 100%; }

.main {
  flex: 1;
  padding: 4rem 1rem; }
  @media only screen and (min-width: 700px) {
    .main {
      padding: 4rem 4rem; } }
  .main .edit-customer-form {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    grid-row-gap: 2rem;
    max-width: 1200px;
    margin: 0 auto; }
    @media only screen and (min-width: 1000px) {
      .main .edit-customer-form label {
        justify-self: center; }
      .main .edit-customer-form input {
        width: 80%; } }
    .main .edit-customer-form label {
      font-family: "Merriweather Sans", sans-serif;
      font-size: 1.4rem; }
    .main .edit-customer-form input {
      height: 1.5rem;
      padding: 1rem; }
    .main .edit-customer-form .edit-customer-buttons {
      margin-top: 3rem;
      width: 60%;
      justify-self: center;
      display: flex;
      grid-column: 1 / -1;
      justify-content: center; }
      @media only screen and (min-width: 700px) {
        .main .edit-customer-form .edit-customer-buttons {
          width: 40%; } }
      .main .edit-customer-form .edit-customer-buttons button {
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
        flex: 1;
        border-radius: 0%;
        padding: .8rem .5rem; }
      .main .edit-customer-form .edit-customer-buttons .edit-customer-del {
        margin-right: 1rem;
        background-color: rgba(253, 228, 228, 0.8); }
      .main .edit-customer-form .edit-customer-buttons .edit-customer-save {
        background-color: rgba(3, 105, 3, 0.103); }

.footer {
  justify-self: flex-end;
  background: #fff;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .footer-btn {
    background-color: #ddd;
    height: 100%;
    border: solid 1px black;
    border-radius: 0;
    padding: .8rem;
    flex: 1;
    cursor: pointer; }
    .footer-btn::-moz-focus-inner {
      border: 0; }
    .footer-btn:hover {
      background-color: #ccc; }
    @media only screen and (min-width: 1000px) {
      .footer-btn {
        display: none; } }
