<!DOCTYPE html>
<html>
    <head>
        <style>
            .current-row textarea {
                border: solid 1px red;
                }
        </style>
        {% load static %}
        <script type="text/javascript" src="{% static 'main/editEstimate.js' %}"></script>
        
    </head>
    <body>
        <h1>Estimate for {{ estimate.customer.name }}</h1>
        <h2>Estimate Name:</h2>
        <input type="text" id="estimate-name" value="{{ estimate.name }}">
        <br><br><br>
        <table id="estimate-tasks">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>Price</span></th>
                    <th><span>Quantity</span></th>
                    <th><span>Total</span></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><textarea style="resize: none;">{{ task.name }}</textarea></td>
                        <td><textarea>{{ task.description }}</textarea></td>
                        <td><textarea>{{ task.price }}</textarea></td>
                        <td><textarea>{{ task.quantity }}</textarea></td>
                        <td><textarea readonly=false></textarea></td>
                        <td><button name="del-row">-</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="add-row">+</button>
        <button id="save-estimate">Save estimate</button>
        <a href="/main/estimates/{{estimate.id}}"><button id="cancel">Cancel</button></a>
        <h2>Total: <span id="total"></span></h2>
        <script type="text/javascript">
            var estimate_id = "{{ estimate.id }}";
            var tasks = [
                    {% for task in tasks %}
                        {
                            name: "{{ task.name }}",
                            description: "{{ task.description }}",
                            price: {{ task.price}},
                            quantity: {{ task.quantity }},
                        },
                    {% endfor %}
                        ];
            console.log(tasks);
        </script>
    </body>
</html>