<!DOCTYPE html>
<html>
<head>
	<title>Overview</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
	<script type="text/javascript" src="{% static 'main/index.js' %}"></script>
</head>
<body>
	<div id="page-container">
		<div id="header">
			
		</div>
		<div id="side-bar">
			<ul id="side-bar-nav-list">
				<li name="Overview" class="nav-parent">Overview</li>
				<li name="Customers" class="nav-parent">Customers
					<ul>
						<li><a href="#">See all customers</a></li> 
						<li><a href="/main/customers/new">Create new customer</a></li>
					</ul>
				</li>
				<li name="Jobs" class="nav-parent">Jobs
					<ul>
						<li><a href="#">See all jobs</a></li> 
						<li><a href="#">Create new job</a></li>
					</ul>
				</li>
				<li name="Invoices" class="nav-parent">Invoices
					<ul>
						<li><a href="#">See all invoices</a></li> 
						<li><a href="#">Create new invoice</a></li>
					</ul>
				</li>
				<li name="Estimates" class="nav-parent">Estimates
					<ul>
						<li><a href="#">See all invoices</a></li> 
						<li><a href="#">Create new invoice</a></li>
					</ul>
				</li>
			</ul>	
		</div>
		<div id="main-body">
			<div id="tabs-list">
				<div>Customers</div>
				<div>Jobs</div>
				<div>Invoices</div>
				<div>Estimates</div>
			</div>
			<div id="tab-content-container">
			</div>
			<div>
				<form action="/main/customers/new">
					<button>Add new customer</button>
				</form>
			</div>
			<div>
				<form action="/main/jobs/new">
					<button>Add new Job</button>
				</form>
			</div>
			<div>
				<form action="/main/invoices/new">
					<button>Add new Invoice</button>
				</form>
			</div>
			<form action="/main/invoices/new">
				<button id="create-invoice">Create Invoice</button>
			</form>
		</div>

		
		
	</div>
	<script>

		//Creates accordion out of side nav-bar
		let navBar = document.getElementById("side-bar-nav-list");

		navBar.querySelectorAll(".nav-parent").forEach((elem) => {
    		elem.onclick = (e) => {
    			if (e.target.classList.contains("nav-parent")) {
    				let list = e.target.firstElementChild
					if (list) {
						if (list.style.display == "none" || !list.style.display) {
						list.style.display = "flex";
		        		} else { list.style.display = "none";}
	    			}
	    		}
    		}
		});
	let button = document.getElementById("create-invoice");


	</script>



</body>
</html>