<!DOCTYPE html>
<html>
<head>
	<title>Add new customer</title>
</head>
<body>
	<div>
		<form action="/main/addCustomer" method="post">
				{% csrf_token %}
				Name:<br>
				<input type="text" name="name"><br>
				Address:<br>
				<input type"text" name="address"><br>
				Phone:<br>
				<input type="text" name="phone_number"><br>
				Email:<br>
				<input type="text" name="email"><br>
				Referral:<br>
				<input type="text" name="referral"><br>

				<input type="submit" value="Submit">

		</form>
	</div>

	<a href="/main">Go back home</a>

</body>
</html>