<!DOCTYPE html>
<html>
    <head>
        <style>
            .current-row textarea {
                border: solid 1px red;

            }

        </style>
    </head>
    <body>
        <table id="invoice-tasks">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>Price</span></th>
                    <th><span>Quantity</span></th>
                    <th><span>Total</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="current-row">
                    <td><textarea style="resize: none;"></textarea></td>
                    <td><textarea></textarea></td>
                    <td><textarea></textarea></td>
                    <td><textarea></textarea></td>
                    <td><textarea readonly=true></textarea></td>
                </tr>
            </tbody>
        </table>
        <button id="add-row">+</button>
        <button id="save-invoice">Save invoice</button>
        <h2>Total: <span id="total"></span></h2>
        <script type="text/javascript">
        /*
            On page load:
                Any tasks associated with this invoice populate table rows
            Editing rows:
                All rows are editable, current row has 'current-row' class
                Focus event on any text area in the table will turn on this class (and turn off for the rest)
                keyup listener (calcRowTotal) on Price and Quantity columns automatically update total
                calcRowTotal calls calcTotal, calcTotal is never called any other way
                If new row is added, focus and keyup listeners are added via helper functions
                (addKeyUpListener and addCurrentRowListener)
                If deleting row, setCurrentRow is manually called on the last row by delRow
            Saving invoice
                tasks[] array is created, array of task objects
                saveInvoice collects appropriate data for each row and pushes to tasks array

        */
            let newRow = `
                        <td><textarea style="resize: none;"></textarea></td>
                        <td><textarea></textarea></td>
                        <td><textarea></textarea></td>
                        <td><textarea></textarea></td>
                        <td><textarea readonly=false></textarea></td>
                        <td><button name="del-row">-</button></td>
                        `;

            let addRow = function(event) {
                //create new row
                let row = document.createElement("tr");
                row.innerHTML = newRow;
                //add row to end of "invoice-tasks" table
                document.querySelector("#invoice-tasks tbody").appendChild(row);
                addCurrentRowListener(row);
                setCurrentRow(row);
                //make sure new del-row button has click handler
                
                row.querySelector("button[name=del-row]").addEventListener("click", delRow);
                addKeyUpListener();
                calcTotal() // TODO
            };

            // Add keyup listener on the price and quantity fields of each row in tbody
            var addKeyUpListener = function() {
                document.querySelectorAll("#invoice-tasks tbody tr").forEach((row) => { 
                        Array.from(row.children).slice(2,4).forEach( (n) => { 
                            n.addEventListener("keyup", calcRowTotal); 
                            })
                        });
            };

            var addCurrentRowListener = function(row) {
                row.querySelectorAll("textarea").forEach((ta) => {
                    ta.addEventListener("focus", (e) => {
                        setCurrentRow(e.target.closest("tr"));
                    })
                })
            }

            let delRow = function(event) {
                event.target.parentElement.parentElement.remove();
                //make sure last row always has editable-row class
                document.querySelector("#invoice-tasks tbody").lastElementChild.classList.add("editable-row");
                calcTotal();
                let currentRow = document.querySelector("#invoice-tasks tbody").lastElementChild;
                setCurrentRow(currentRow);
            };
            
            let calcRowTotal = function(e) {
                //if price and/or quantity fields change, total field will update
                // row is a <tr> element
                let row = e.target.closest("tr");
                let price = row.children[2].firstChild.value;
                let quantity = row.children[3].firstChild.value;
                row.children[4].firstChild.value = price*quantity;
                calcTotal();
            };

            let calcTotal = function() {
                // called any time calcRowTotal is called, gathers sum of last textarea of each row
                let values = [];
                document.querySelectorAll("#invoice-tasks tbody tr").forEach( (row) => {
                    if (row.children[4].firstChild.value) {
                        values.push(row.children[4].firstChild.value);
                    }
                });
                let sum = 0;
                for (let i of values) {
                    sum += parseFloat(i);
                };
                document.getElementById("total").innerText = sum;
            };

            let setCurrentRow = function(row) {
                let rows = document.getElementById("invoice-tasks").querySelectorAll("tbody tr");
                rows.forEach( (r) => {
                    if (r.classList.contains("current-row")) {
                        r.classList.remove("current-row");
                    }
                });
                row.classList.add("current-row");
            };

            let saveInvoice = function(event) {
                //create tasks from each row
                //send JSON with tasks as objects to server
                var tasks = [];
                var rows = document.querySelectorAll("#invoice-tasks tr");
                var fields = document.querySelector("#invoice-tasks thead tr").children;
                for (let i = 1; i < rows.length; i++) { // i is 1 here, because first elem of rows is header
                    let task = {};
                    for (let j = 0; j < fields.length; j++) {
                        task[fields[j].firstElementChild.innerText] = rows[i].children[j].firstChild.value;
                    }
                    tasks.push(task);
                }
                console.log(tasks);
            };

            document.getElementById("save-invoice").addEventListener("click", saveInvoice);
            document.getElementById("add-row").addEventListener("click", addRow);
            addKeyUpListener();
            addCurrentRowListener(document.querySelector("#invoice-tasks tbody tr"))

        </script>
    </body>
</html>