<!DOCTYPE html>
<html>
    <head> 
        <title>{{job.name}} | {{job.customer.name}}</title>
    </head>
    <body> 
        <h2>Job for <a href="/main/customers/{{job.customer.id}}">{{ job.customer.name }}</a></h2>
        <h3>Job name: {{ job.name }}</h3>
        <h3>Start Date: {{ job.start_date }}</h3>

        <h2>Tasks:</h2>
        <ul>
            {% for task in tasks %}
                <li>{{task.name}} --- {{task.description}} -- {{task.price}} </li>
            {% endfor %}
    </body>
</html>