*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  min-height: 100%;
  position: absolute;
  width: 100%; }

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb; }

.header .job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-bottom: solid 1px black;
  background-color: #ccc; }
  .header .job-info__id {
    font-size: 1.2rem; }

.header .job-banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding: .5rem;
  font-family: "Merriweather Sans", sans-serif; }
  .header .job-banner h1 {
    font-weight: 300;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    flex: 1;
    text-decoration: underline; }
  .header .job-banner a {
    display: inline-block;
    background-color: #ccc;
    border: 1px solid black;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: black; }
    @media only screen and (max-width: 999px) {
      .header .job-banner a {
        display: none; } }

.nav {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 1000px) {
    .nav button:first-child {
      background-color: gray;
      color: #eeeeee;
      font-weight: 400; } }
  .nav__buttons {
    display: flex;
    width: 100%;
    border-bottom: solid 1px black; }
  .nav__button {
    font-size: 1.5rem;
    flex: 1;
    padding: 0;
    border-radius: 0;
    padding: .5rem 0;
    background-color: #dddddd;
    border: solid 1px black; }
    .nav__button::-moz-focus-inner {
      border: 0; }
    .nav__button.active {
      background-color: gray;
      color: #eeeeee;
      font-weight: 400; }
    .nav__button:hover {
      cursor: pointer; }
      .nav__button:hover:not(.active) {
        background-color: #ccc; }
    @media only screen and (min-width: 1000px) {
      .nav__button:first-child:hover {
        cursor: default; } }
  .nav .add_note_btn {
    display: none;
    position: absolute;
    border: none;
    border-radius: 10rem;
    background-color: #5985fd;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1rem;
    box-shadow: 0 .2rem .4rem #888;
    height: 4rem;
    width: 4rem;
    right: 0;
    bottom: 4rem;
    opacity: .8; }
    .nav .add_note_btn:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .nav .notes_btn.active + .add_note_btn {
    display: block; }

.content {
  overflow: auto;
  flex: 1; }
  @media only screen and (min-width: 1000px) {
    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      overflow: hidden; } }
  .content .job-details {
    display: block;
    padding: 2rem; }
    .content .job-details:not(.active) {
      display: none; }
    @media only screen and (min-width: 1000px) {
      .content .job-details {
        position: relative;
        grid-column: 1 / 1;
        border-right: solid 1px #333;
        left: 1px;
        overflow: auto;
        box-shadow: 1px 0 .5rem #aaa; }
        .content .job-details:not(.active) {
          display: block; } }
    .content .job-details h4 {
      font-size: 1.7rem;
      font-family: "Merriweather Sans", sans-serif;
      border-bottom: solid 1px #ccc;
      padding-bottom: .4rem; }
    .content .job-details ul {
      list-style: none;
      padding: 1.5rem 0; }
      .content .job-details ul li {
        padding: .3rem;
        font-size: 1.5rem; }
    .content .job-details__contact {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .content .job-details__contact h4 {
        grid-column: 1 / -1;
        margin-bottom: 1rem; }
      .content .job-details__contact p {
        font-size: 1.5rem;
        margin-bottom: 1rem; }
        .content .job-details__contact p:nth-child(2n+0) {
          font-size: 1.5rem;
          font-weight: 500;
          font-family: sans-serif; }
        .content .job-details__contact p:last-child {
          display: flex;
          flex-direction: column; }
          .content .job-details__contact p:last-child span {
            padding: .2rem 0; }
    .content .job-details__description p {
      margin: 2rem 0;
      font-size: 1.5rem; }
    .content .job-details__date {
      height: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: .5rem; }
      .content .job-details__date p {
        font-size: 1.3rem;
        font-style: italic;
        font-family: sans-serif;
        color: #333; }
  .content__tasks {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
    overflow: auto; }
    .content__tasks:not(.active) {
      display: none; }
    .content__tasks-header {
      display: flex;
      padding: .3rem 0;
      border-bottom: solid 2px black; }
      .content__tasks-header div {
        text-align: center; }
      .content__tasks-header > div:not(:last-child) {
        border-right: solid 1px #ccc; }
      .content__tasks-header-num {
        flex: 0 0 5%;
        padding-left: .5rem; }
      .content__tasks-header-name {
        flex: 1; }
      .content__tasks-header-qty {
        flex: 0 0 10%; }
      .content__tasks-header-price {
        flex: 0 0 15%; }
    .content__tasks-list {
      overflow-y: auto; }
  .content__task {
    display: grid;
    grid-template-rows: min-content 1fr; }
    .content__task .flex-wrap {
      display: flex;
      padding: 1rem 0;
      border-bottom: 1px solid #ccc; }
      .content__task .flex-wrap div {
        text-align: center;
        padding: .3rem 0; }
      .content__task .flex-wrap > div:not(:last-child) {
        border-right: solid 1px #ccc; }
    .content__task-num {
      flex: 0 0 5%;
      padding-left: .5rem; }
    .content__task-name {
      flex: 1;
      padding-left: 4rem;
      font-size: 1.4rem;
      font-family: sans-serif;
      font-style: italic;
      font-weight: 600; }
    .content__task-qty {
      flex: 0 0 10%;
      font-size: 1.3rem; }
    .content__task-price {
      flex: 0 0 15%;
      font-size: 1.3rem; }
    .content__task-desc {
      display: none;
      font-size: 1.2rem;
      padding: 1rem 1rem 3rem 1rem;
      border: solid 1px #ccc;
      border-top: none;
      grid-row: 2 / -1;
      grid-column: 1 / -1; }
    .content__task.selected > .content__task-desc {
      display: block; }
    .content__task:hover {
      cursor: pointer; }
  .content__notes {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    overflow: auto; }
    .content__notes:not(.active) {
      display: none; }
    .content__notes-header {
      display: flex;
      padding: .3rem 0;
      border-bottom: solid 2px black; }
      .content__notes-header div {
        text-align: center; }
      .content__notes-header > div:not(:last-child) {
        border-right: solid 1px #ccc; }
      .content__notes-header-id {
        flex: 0 0 8%; }
      .content__notes-header-date {
        flex: 0 0 15%; }
      .content__notes-header-content {
        flex: 1; }
    .content__notes ul {
      overflow-y: scroll; }
  .content__note {
    display: flex;
    border-bottom: 1px solid #ccc; }
    .content__note div {
      font-size: 1.4rem;
      text-align: center;
      padding: .7rem 0; }
    .content__note > div:not(:last-child) {
      border-right: solid 1px #ccc; }
    .content__note-date {
      flex: 0 0 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1rem !important; }
    .content__note-content {
      padding: 1rem !important;
      flex: 1; }
  .content .add_note_modal {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10; }
    .content .add_note_modal__content {
      position: absolute;
      max-height: 300px;
      overflow: auto;
      height: 90%;
      width: 90%;
      max-width: 800px;
      padding: 1rem;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .content .add_note_modal__content form {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content; }
        .content .add_note_modal__content form textarea {
          font-family: sans-serif;
          font-weight: 300;
          resize: none;
          padding: .5rem;
          grid-column: 1 / -1;
          height: 60; }
        .content .add_note_modal__content form button {
          padding: 1.5rem 1rem; }
    .content .add_note_modal:not(.active) {
      display: none; }

.footer {
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  @media only screen and (min-width: 1000px) {
    .footer {
      position: static; } }
  .footer a {
    background-color: #ddd;
    height: 100%;
    border: solid 1px black;
    border-radius: 0;
    padding: 1rem;
    flex: 1;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Merriweather Sans", sans-serif;
    color: black;
    text-decoration: none; }
    @media only screen and (min-width: 1000px) {
      .footer a {
        display: none; } }
    .footer a::-moz-focus-inner {
      border: 0; }
    .footer a:hover {
      background-color: #ccc; }
  .footer .job-stop-prompt {
    transform: scaleY(1);
    overflow: auto;
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    transition: all .2s;
    transform-origin: bottom; }
    @media only screen and (min-width: 1000px) {
      .footer .job-stop-prompt {
        top: 7rem;
        bottom: auto; } }
    .footer .job-stop-prompt a {
      display: inline-block;
      background-color: #eee;
      padding: 0;
      border: 1px solid #ccc; }
      .footer .job-stop-prompt a:hover {
        cursor: pointer;
        background-color: #ddd; }
    .footer .job-stop-prompt:not(.active) {
      transform: scaleY(0);
      overflow: hidden; }
