*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 3rem;
  align-items: center;
  padding-left: 1rem;
  border-bottom: solid 1px black;
  background-color: #dddddd; }
  .header h1 {
    font-family: "Merriweather Sans", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 200;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8); }
  .header p {
    font-size: 1.3rem;
    margin-top: .3rem; }
  .header .delete-estimate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .3rem;
    border: solid 1px #ccc;
    height: 100%;
    width: 6rem;
    background-color: rgba(255, 8, 0, 0.384);
    font-style: italic;
    font-family: sans-serif; }
  .header .delete-estimate-prompt {
    position: absolute;
    width: auto;
    border: 1px solid black;
    top: 3rem;
    right: 0;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    padding: 1.5rem 0 0;
    background-color: #eee;
    padding-bottom: 0; }
    .header .delete-estimate-prompt p {
      padding: 0 1rem 0;
      font-family: "Merriweather Sans", sans-serif;
      font-size: 1.2rem;
      grid-column: 1 / -1;
      text-align: center; }
    .header .delete-estimate-prompt button {
      border: 1px solid #ccc;
      padding: 1rem;
      width: 100%; }

.content {
  overflow: auto;
  flex: 1;
  padding: 0 1rem;
  margin: 0 auto; }
  .content h2 {
    font-family: "Merriweather Sans", sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 400;
    border-bottom: solid 1px black;
    margin-bottom: 1.5rem;
    padding: .5rem; }
  .content__auto {
    padding: .5rem 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: max-content max-content;
    grid-row-gap: .8rem;
    column-gap: 1rem;
    font-family: "Merriweather Sans", sans-serif;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ccc; }
    .content__auto h3 {
      font-weight: 400;
      font-size: 1.6rem; }
    .content__auto a,
    .content__auto a:link,
    .content__auto a:visited {
      font-size: 1.5rem;
      text-decoration: none;
      color: #333; }
    .content__auto button {
      border: none;
      background-color: #dddddd;
      border: 1px solid #aaa; }
  .content__contact-grid {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    margin-bottom: 2rem; }
    .content__contact-grid label {
      justify-self: center;
      font-size: 1.5rem;
      margin-right: 1rem;
      grid-column: 1 / 2; }
    .content__contact-grid input {
      padding: .5rem .3rem;
      grid-column: 2 / -1; }
  .content__details {
    margin-bottom: 4rem; }
    .content__details-grid {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      justify-content: center;
      row-gap: 1rem;
      margin-bottom: 2rem; }
      .content__details-grid label {
        justify-self: center;
        font-size: 1.5rem;
        margin-right: 1rem;
        grid-column: 1 / 2; }
      .content__details-grid input {
        padding: .5rem .3rem;
        grid-column: 2 / -1; }
        .content__details-grid input[type=date] {
          text-align: center;
          width: 60%; }
      .content__details-grid textarea {
        padding: 1rem;
        height: 10rem;
        resize: none; }
      .content__details-grid textarea#details-location {
        height: 7rem; }
  .content__tasks {
    position: relative;
    margin-bottom: 5rem; }
    .content__tasks-header {
      margin-top: -1.5rem;
      display: flex;
      padding: .3rem 0;
      border-bottom: solid 2px black; }
      .content__tasks-header div {
        text-align: center; }
      .content__tasks-header > div:not(:last-child) {
        border-right: solid 1px #ccc; }
      .content__tasks-header-num {
        flex: 0 0 8.333%;
        padding-left: .5rem; }
      .content__tasks-header-name {
        flex: 1; }
      .content__tasks-header-qty {
        flex: 0 0 10%; }
      .content__tasks-header-price {
        flex: 0 0 15%; }
  .content__tasks-list {
    margin-bottom: 1rem; }
  .content__task {
    display: grid;
    grid-template-rows: min-content 1fr; }
    .content__task .flex-wrap {
      display: flex;
      padding: 1rem 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      .content__task .flex-wrap div {
        text-align: center;
        padding: .3rem 0; }
      .content__task .flex-wrap > div:not(:last-child) {
        border-right: solid 1px #ccc; }
    .content__task-num {
      flex: 0 0 8.333%;
      padding-left: .5rem; }
    .content__task-name {
      flex: 1;
      padding-left: 4rem;
      font-size: 1.4rem;
      font-family: sans-serif;
      font-style: italic;
      font-weight: 600; }
    .content__task-qty {
      flex: 0 0 10%;
      font-size: 1.3rem; }
    .content__task-price {
      flex: 0 0 15%;
      font-size: 1.3rem; }
    .content__task-desc {
      display: none;
      font-size: 1.4rem;
      padding: 1rem 1rem 0 1rem;
      border-top: none;
      grid-row: 2 / -1;
      grid-column: 1 / -1; }
    .content__task.selected > .content__task-desc {
      display: block; }
    .content__task.selected > .content__task-btns {
      display: flex; }
    .content__task-btns {
      margin-top: .5rem;
      margin-bottom: .5rem;
      display: none;
      justify-content: flex-end; }
      .content__task-btns button {
        font-size: 1.3rem;
        border: 1px solid #444; }
      .content__task-btns-edit {
        background-color: #5985fd;
        opacity: 0.8;
        color: #eee;
        font-family: "Merriweather Sans", sans-serif;
        font-weight: 400;
        margin-right: .8rem;
        padding: .3rem 1rem;
        text-transform: uppercase; }
      .content__task-btns-del {
        background-color: rgba(255, 8, 0, 0.384);
        padding: .3rem 1rem; }
  .content__task-form {
    position: relative;
    display: grid;
    align-items: center;
    max-width: 100%;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    grid-template-rows: min-content 8rem min-content; }
    .content__task-form .save {
      display: block; }
    .content__task-form .cancel {
      display: block; }
    .content__task-form .del {
      display: none; }
    .content__task-form .edit {
      display: none; }
    .content__task-form input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 0;
      padding: 1rem .5rem; }
    .content__task-form-num {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      grid-column: 1 / 2;
      border: 1px solid #ccc; }
    .content__task-form-name {
      grid-column: 2 / 10; }
    .content__task-form-qty {
      width: 120% !important;
      z-index: 10;
      text-align: center;
      grid-column: 10 / 11; }
    .content__task-form-price {
      text-align: center;
      grid-column: 11 / -1; }
    .content__task-form-desc {
      font-family: sans-serif;
      font-size: 1.3rem;
      resize: none;
      height: 100% !important;
      width: 100% !important;
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      padding: .5rem; }
    .content__task-form-btns {
      grid-column: 1 / -1;
      display: flex;
      justify-content: flex-end; }
      .content__task-form-btns button {
        border: 1px solid #ccc;
        padding: .5rem 1rem; }
      .content__task-form-btns .save {
        background-color: rgba(52, 143, 0, 0.137); }
      .content__task-form-btns .cancel {
        background-color: rgba(255, 8, 0, 0.384); }
  .content .add_task {
    position: absolute;
    border: none;
    border-radius: 10rem;
    background-color: #5985fd;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem;
    box-shadow: 0 .2rem .4rem #888;
    height: 2.5rem;
    width: 2.5rem;
    top: -1rem;
    right: 0;
    opacity: .8; }

.footer {
  height: 4rem;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .footer__button {
    background-color: #ddd;
    height: 100%;
    border: solid 1px black;
    border-radius: 0;
    padding: 1rem;
    flex: 1;
    cursor: pointer; }
    .footer__button::-moz-focus-inner {
      border: 0; }
    .footer__button:hover {
      background-color: #ccc; }
