<!DOCTYPE html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/newJob/style.css' %}">
	{% load static %}
	<script type="text/javascript" src="{% static 'main/newEstimate/script.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyConQmCFHbBvBdsTQg6g5ws7TmE6xcRo_s&libraries=places"></script>

</head>
<body>
  <div class="container">
    <div class="cover"></div>
    <header class="header">
      <p>{{ user }} <span>&dtrif;</span></p>
      <p>New Estimate...</p>
      <div class="log_out">
        <button><a href="/logout">Log out</a></button>
      </div>
    </header>
    <main class="content">
      <div class="content__header">
        <h3>Customer: </h3>
        <a href="/customers/{{customer.id}}">{{ customer.name }}</a>
      </div>
      <div class="content__contact">
        <h2>Contact info</h2>
        <div class="content__contact-grid">
          <label for="content__contact-name">Name: </label>
          <input type="text" id="content__contact-name" value="{{customer.name}}">
          <label for="content__contact-phone">Phone: </label>
          <input type="tel" id="content__contact-phone" value="{{customer.phone_number}}">
          <label for="content__contact-email">Email: </label>
          <input type="email" id="content__contact-email" value="{{customer.email}}">
        </div>
      </div>
      <div class="content__details">
        <h2>Estimate Details</h2>
        <div class="content__details-grid">
          <label for="content__details-name">Estimate Name: </label>
          <input type="text" id="content__details-name">
          <label for="content__details-desc">Description: </label>
          <textarea id="content__details-desc"></textarea>
          <label for="content__details-location">Location: </label>
          <input type="text" id="content__details-location" placeholder="">
        </div>
      </div>
      <div class="content__tasks">
        <h2>Tasks</h2>
        <div class="content__tasks-header">
          <div class="content__tasks-header-num">#</div>
          <div class="content__tasks-header-name">NAME</div>
          <div class="content__tasks-header-qty">QTY</div>
          <div class="content__tasks-header-price">PRICE</div>
        </div>
        <ul class="content__tasks-list">
        </ul>

        <button class="add_task">+</button>
      </div>
      <div class="buttons">
        <a href="/customers/{{customer.id}}" class="footer__button">Cancel</a>
        <a class="footer__button footer__button-save">Save</a>
      </div>
    </main>
    <footer class="footer">
      <a href="/customers/{{customer.id}}" class="footer__button">Cancel</a>
      <a class="footer__button footer__button-save">Save</a>
    </footer>
  </div>
  <script>
    var customer_id = {{ customer.id }}
  </script>
</body>
</html>