* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #ddd; }
  body button {
    cursor: pointer; }

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #fff; }
  .container .cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10; }
    .container .cover:not(.active) {
      display: none; }

.header {
  display: flex;
  position: relative;
  background-color: #dddddd;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
  border-bottom: 1px solid black;
  padding: 0 1rem; }
  @media only screen and (min-width: 1000px) {
    .header {
      width: 100%;
      z-index: 10; } }
  .header a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black; }
  .header p {
    font-size: 14px;
    cursor: pointer; }
    .header p.selected span {
      display: inline-block;
      transform: rotate(180deg); }
  .header .log_out {
    position: absolute;
    left: 0;
    top: 100%;
    width: 20rem;
    background-color: white;
    height: 4rem; }
    .header .log_out:not(.active) {
      display: none; }
    .header .log_out button {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      background-color: #dddddd !important;
      padding: 0 !important; }
      .header .log_out button a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black; }
  .header h1 {
    font-size: 14px;
    flex: 1;
    text-align: center;
    margin-left: 1rem;
    font-weight: 400;
    padding: .2rem .7rem;
    white-space: nowrap; }
  .header button {
    border-radius: 0;
    border: 1px solid #888;
    background-color: rgba(255, 8, 0, 0.384);
    height: 100%;
    justify-self: flex-end;
    margin-right: 1rem;
    padding: .5rem 1rem;
    user-select: none; }
    .header button:first-of-type {
      background-color: rgba(0, 255, 0, 0.384); }
      @media only screen and (max-width: 999px) {
        .header button:first-of-type {
          display: none; } }
  .header .update_invoice {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 20; }
    .header .update_invoice button {
      user-select: none;
      background-color: #f7f7f7;
      padding: 1rem 2rem; }
      .header .update_invoice button.selected {
        background-color: #8d8d8d;
        color: white; }
      .header .update_invoice button:hover:not(.selected) {
        cursor: pointer;
        background-color: #e6e6e6; }
      .header .update_invoice button:focus {
        outline: none;
        border: 0; }
    .header .update_invoice:not(.active) {
      display: none; }
    @media only screen and (max-width: 999px) {
      .header .update_invoice {
        display: none; } }

.content {
  overflow: auto;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  background-color: #fff;
  border-right: solid 1px black;
  border-left: solid 1px black;
  box-shadow: 3px 0 5px #aaa, -3px 0 5px #aaa; }
  @media only screen and (min-width: 1000px) {
    .content {
      position: relative; } }
  .content__invoice-details {
    display: grid;
    justify-content: center;
    grid-template-columns: max-content max-content;
    column-gap: 7rem;
    padding: 1.5rem 1.5rem;
    font-family: "Merriweather Sans", sans-serif; }
    .content__invoice-details p {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 0.5rem;
      font-size: 1.4rem; }
      .content__invoice-details p:nth-child(2n+0) {
        font-weight: 300; }
    .content__invoice-details a,
    .content__invoice-details a:link,
    .content__invoice-details a:visited {
      font-size: 1.4rem;
      text-decoration: none;
      color: #001c97; }
    .content__invoice-details a,
    .content__invoice-details span {
      font-weight: 300; }
  .content__tasks {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto; }
    @media only screen and (min-width: 1300px) {
      .content__tasks {
        border-right: solid 1px #ccc;
        border-left: solid 1px #ccc; } }
    .content__tasks-header {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      padding: .3rem 0;
      border-top: solid 1px #ccc;
      border-bottom: solid 2px black; }
      @media only screen and (min-width: 600px) {
        .content__tasks-header {
          grid-template-columns: repeat(12, 1fr); } }
      .content__tasks-header div {
        text-align: center; }
      .content__tasks-header > div:not(:last-child) {
        border-right: solid 1px #ccc; }
      .content__tasks-header-num {
        grid-column: 1 / 2; }
      .content__tasks-header-name {
        grid-column: 2 / 9; }
      @media only screen and (max-width: 599px) {
        .content__tasks-header-subtotal {
          display: none; } }
  .content__task {
    display: grid;
    grid-template-rows: min-content 1fr; }
    .content__task .flex-wrap {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      padding: 1rem 0;
      align-items: center;
      border-bottom: 1px solid #ccc; }
      @media only screen and (min-width: 600px) {
        .content__task .flex-wrap {
          grid-template-columns: repeat(12, 1fr); } }
      .content__task .flex-wrap div {
        text-align: center; }
      .content__task .flex-wrap > div:not(:last-child) {
        border-right: solid 1px #ccc; }
    .content__task-num {
      grid-column: 1 / 2; }
    .content__task-name {
      font-size: 1.4rem;
      font-family: sans-serif;
      font-style: italic;
      font-weight: 600;
      grid-column: 2 / 9; }
    .content__task-qty {
      font-size: 1.3rem; }
    .content__task-price {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      font-size: 1.3rem; }
    .content__task-desc {
      display: none;
      font-size: 1.2rem;
      padding: 1rem;
      padding-bottom: 3rem;
      border-bottom: solid 1px #ccc;
      grid-row: 2 / -1;
      grid-column: 1 / -1; }
    .content__task-subtotal {
      font-size: 1.3rem; }
      @media only screen and (max-width: 599px) {
        .content__task-subtotal {
          display: none; } }
    .content__task.selected > .content__task-desc {
      display: block; }
  .content .total {
    display: none; }
    @media only screen and (min-width: 1000px) {
      .content .total {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 1.5rem 3rem .5rem;
        border-top: solid 1px black;
        background-color: white;
        font-family: "Merriweather Sans", sans-serif; }
        .content .total p {
          font-size: 1.6rem;
          margin-left: 8rem; } }

.footer {
  position: relative;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  @media only screen and (min-width: 1000px) {
    .footer {
      display: none; } }
  .footer__total {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1.5rem .5rem .5rem;
    border-top: solid 1px black;
    background-color: white;
    font-family: "Merriweather Sans", sans-serif; }
    .footer__total p {
      font-size: 1.6rem;
      margin-left: 8rem; }
  .footer__btns {
    position: relative;
    flex: 1;
    display: flex; }
  .footer button {
    background-color: #ddd;
    height: 100%;
    border: solid 1px black;
    border-radius: 0;
    padding: 1rem;
    flex: 1;
    cursor: pointer; }
    .footer button::-moz-focus-inner {
      border: 0; }
    .footer button:hover {
      background-color: #ccc; }
  .footer .update_invoice_footer {
    position: absolute;
    bottom: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 20; }
    .footer .update_invoice_footer:not(.active) {
      display: none; }
    .footer .update_invoice_footer button {
      padding: 1rem 2rem;
      background-color: #f7f7f7; }
      .footer .update_invoice_footer button.selected {
        background-color: #8d8d8d;
        color: white; }

.update_cover {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  z-index: 1; }
  .update_cover:not(.active) {
    display: none; }
